@font-face {
  font-family: 'Degular';
  src: url('/assets/fonts/Degular-Regular.woff2') format('woff2'),
    url('/assets/fonts/Degular-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/assets/fonts/Degular-Bold.woff2') format('woff2'),
    url('/assets/fonts/Degular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Degular', sans-serif;
  font-weight: normal; /* Degular-Regular */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Degular', sans-serif;
  font-weight: bold; /* Degular-Bold */
}
