---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {
  font-family: 'Degular-Regular';
  src: url('/assets/fonts/Degular-Regular.woff2') format('woff2'),
    url('/assets/fonts/Degular-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Degular-Bold';
  src: url('/assets/fonts/Degular-Bold.woff2') format('woff2'),
    url('/assets/fonts/Degular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Degular-Bold' !important;
  font-weight: bold; /* Degular-Bold */
  font-style: normal;
}

$serif: 'Degular-Regular' !default;
$sans-serif: 'Degular-Regular' !default;
$monospace: Monaco, Consolas, 'Lucida Console', monospace !default;
$global-font-family: 'Degular-Bold' !default;
$header-font-family: 'Degular-Bold' !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import 'minimal-mistakes'; // main partials
